[2021-01-08 04:19] AyushBherwani1998 opened #3 "[Feature] Add functionality to do validation"
## Description

As of now, if user don't select any value from the given suggestions, it's accepted as a valid value. For instance, if the drop down is about states in India, and if enter xyz, it would consider a valid value for the state.

The idea is to add a `validation` property and use `TextFormField` instead of `TextField`. After addition if developer wraps `SearchField` with `Form` and pass

[2021-01-09 03:22] maheshmnj commented on #3
@AyushBherwani1998  Its added now in this commit https://github.com/maheshmnj/searchfield/commit/7c9db449290bf4d3fd3e78a4cc46cc8b5ff45e1f

but I am confused about versioning the package because this feature is now only available under null safety how do we add this feature to the projects without null safety do we need to separately make another non null safe commit?

[2021-01-09 03:35] AyushBherwani1998 commented on #3
Oh yeah, this could be tricky. We should have done this earlier I suppose :(

Sorry for not suggesting earlier, but we could keep two branch, master - for stable version and a null-safe branch - for release. As soon as null safe comes in stable, you can merge null-safe branch into master

[2021-01-09 07:19] maheshmnj commented on #3
okay no worries thanks for the suggestion I will do that

[2021-01-09 07:21] maheshmnj commented on #3
And I assume the requested feature is addressed so I am closing this issue. Feel free to create new feature request or report a issue :)

[2021-01-09 07:21] #3 closed

[2021-01-11 06:58] AyushBherwani1998 commented on #3
LGTM, thanks :D

[2021-02-12 09:00] ggichure opened #5 "Dispose on tap outiside"
Is there a way to dispose results on tap outside ?something  barrier dismissible in alert dialog.

[2021-02-12 16:46] maheshmnj commented on #5
do you mean to collapse the suggestions on tapping outside the widget?

[2021-02-12 17:05] ggichure commented on #5
Yes.
________________________________
From: Mahesh Jamdade <notifications@github.com>
Sent: Friday, February 12, 2021 7:46:36 PM
To: maheshmnj/searchfield <searchfield@noreply.github.com>
Cc: Griffins Gichure <g.gichure@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [maheshmnj/searchfield] Dispose on tap outiside (#5)

do you mean to collapse the suggestions on tapping outside the w

[2021-02-13 03:36] ggichure commented on #5
is it something feasible?

[2021-02-13 13:26] maheshmnj commented on #5
yes ofcourse thats posssible if you check the example project it collapses the suggestions if tapped on the body of the Ui.Thats possible because we are removing the focus from UI by unfocusing like this .
[code]

[2021-02-14 06:00] #5 closed

[2021-04-16 17:50] maheshmnj opened #6 "[ISSUE] Overlay shown on top of searchfield"
if  ```maxSuggestionsInViewPort``` value exceeds screen height and ```showOverlay``` is true ,then overlay is shown at top of the searchfield.

<img width="497" alt="Screenshot 2021-04-16 at 11 18 15 PM" src="https://user-images.githubusercontent.com/31410839/115064069-1d993000-9f0a-11eb-9f30-07dfa4b93c42.png">

[2021-04-16 17:51] maheshmnj commented on #6
```maxSuggestionsinviewPort``` should have a  constraint

[2021-04-17 11:24] selvam920 opened #7 "[Feature] Support for keyboard arrow keys"
Pls support arrow keys down and up and enter key

[2021-04-22 06:08] nmfisher opened #8 "Feature suggestion - generically typed value"
Great widget. Currently, this only works with Strings, have you considered adopting the same approach as the standard DropdownButton<T>, whereby each DropdownMenuItem<T> accepts a value of type T and the list is then built with an itemBuilder?

I know this was originally intended as a search field, but it would be nice to present suggestions while preserving some underlying value.

[2021-04-22 06:15] maheshmnj commented on #8
Yes, definitely that would be a great add on I will be working on adding that feature may be by this weekend.

[2021-06-24 04:07] maheshmnj commented on #8
Hi,  Thanks for filing the issue I was thinking about this and I realize that if we want to  generalize the type then we have to expose these three apis
[code]
And probably we will have to ditch these apis
[code]

Let me know your thoughts.

[2021-06-24 04:11] maheshmnj commented on #8
I am a bit busy with other work these days so I might need some more time, The Progress will be happening on the [feature branch](https://github.com/maheshmnj/searchfield/tree/feature/generalize-type), If you like you are welcome to send a PR :)

[2021-07-26 06:03] maheshmnj commented on #7
H @selvam920, could you please provide some more details about the expected behavior.

Thnaks

[2021-08-27 20:51] roshan-gh opened #9 "Small-screen phones bug"
At the small-screen phones (in my case it's Nexus 4), search suggestions with 1 result, it has a bug like the screenshot I attached. The search suggestion can't display properly.
![image](https://user-images.githubusercontent.com/76537930/131186283-f5288781-816e-4eed-ba92-fb56b985ab5f.png)

[2021-08-28 13:04] #9 closed

[2021-08-29 04:45] maheshmnj commented on #9
Hi is the issue solved?

[2021-08-29 10:10] roshan-gh commented on #9
Hi, yes, my friend solved it. For small screens it should have change the overlay settings.
And thanks for this package. It's useful.

[2021-08-30 06:23] maheshmnj commented on #9
Glad it is solved, Feel free to report any issues or make a feature request this would help to maintain this package.

[2021-09-01 06:53] larsvombruch opened #10 "Suggestions Menu not closing after selection"
The suggestions do not close after having tapped on them, this is my code:

[code]

[2021-09-01 07:06] larsvombruch commented on #10
The suggestions do not close after having tapped on them, this is my code:

[code]

[2021-09-01 07:54] larsvombruch commented on #10
Also, is there a way to show the suggestions right from the start, or do they always appear only after the first input? If so, is there a way to change it?

[2021-09-01 09:46] maheshmnj commented on #10
Hi @larsvombruch, I could not reproduce your issue please share the output of `flutter doctor -v` and the version of searchfield you are using.

For this a new version has been published this is available in version 0.5.4

[2021-09-01 13:27] larsvombruch commented on #10
Thank you very much, that seems to work. Is there a way to specifiy a textInputAction like in normal TextFields that shifts to the next Field or something similar? Creating and handling lifecycles of many FocusNodes manually can be tedious, since I am using a stateless widget for my form. Any plans on implementing that, or should I come up with a solution and create a PR for that?

[2021-09-01 15:00] maheshmnj commented on #10
Great, let's talk about it in another issue. Please file a new issue with more details
- problem
- proposal/solution

Closing this issue as solved.If you disagree feel free to write in the comments and I will reopen it.

Thank you.

[2021-09-01 15:00] #10 closed

[2021-09-02 01:38] maheshmnj opened #13 "Add integrations tests"

[2021-09-17 11:23] wishstore36 commented on #7
In case users presses down / up arrow key , the selection within the options must be selected appropriately and on press of "Enter" key, the option selected must be returned, apart from down / up arrow keys, it will be gr8 to support page up and page down to scroll within the suggestion list.

[2021-09-17 11:32] maheshmnj commented on #7
@wishstore36, thanks for the clarification that makes sense to me and it would be a great feature.

[2021-09-23 14:27] larsvombruch opened #14 "suggestions do now show after textfieldfocus has changed"
The suggestion do only show automatically when the user manually taps on the SearchField, and not when the focus shifts to another one using `searchInputAction`

I would suggest opening the suggestions in the focusNode listener instead of the `onTap` property of the textfield, so that the suggestions show on every focus change

[2021-09-24 05:07] maheshmnj commented on #14
@larsvombruch Thanks for filing the issue. I can reproduce it, `SearchField` only expands on tap and not on focus change, That looks like a valid proposal to me.

[code]

I will take a look at it this weekend, If you are interested you are welcome to send a PR :)

[2021-09-24 09:05] larsvombruch commented on #14
@maheshmnj I have sent a PR :) Also added some extra features, such as `SuggestionAction`.

[2021-09-26 07:32] maheshmnj commented on #13
[update] : test are being added here https://github.com/maheshmnj/searchfield/tree/integration_test

[2021-09-26 08:56] maheshmnj commented on #14
Closing as PR has been merged.

[2021-09-26 08:56] #14 closed

[2021-10-02 16:51] qxces opened #16 "[Proposal] Support changing keyboardInputType"
Can you add the ability to change the keyboard input type? e.g. ` textCapitalization: TextCapitalization.sentences,` and other.

[2021-10-03 03:17] maheshmnj commented on #16
Looks like a valid proposal to me, You are welcome to send a PR if you are interested if not I will definitely fix it.

[2022-02-09 11:23] MuhammadSufyanMalik commented on #8
Hi, Mahesh I would like to provide <DropdownMenuItem<String>>, because if I select any item it should give me its value.
any chance of achieving this ?

[2022-02-09 12:48] maheshmnj commented on #8
Hi, I haven't had a chance to look into this, I will surely try to come up with a solution this week.

[2022-02-10 06:32] MuhammadSufyanMalik commented on #8
Thanks for the immediate reply.
Can I set any value in the field from the list on page start?
I set the value in initialValue but it does not set in the field.
is there any other way, or I am missing any implementation?

[2022-02-10 06:40] maheshmnj commented on #8
Make sure you are using the latest version `searchfield: ^0.5.6`, and initialValue that you add should be present in the list of suggestions

[2022-02-10 07:22] MuhammadSufyanMalik commented on #8
Yes, I am using the updated one and it is present also in the list as well. But it doesn't not display in the field.
Secondly, If I write any text other than list items the submit button doesn't  validate as far as I know from your documentation it should tell not available in the list if I press submit.

[2022-02-10 07:28] maheshmnj commented on #8
Thanks for the info @MuhammadSufyanMalik, could you please file that as a separate bug, that issue seems to be different from this case.

[2022-02-10 07:29] MuhammadSufyanMalik commented on #8
Okay,

Okay. but do let me know the solution if there is any.
Thanks

[2022-02-10 07:34] maheshmnj commented on #8
Maybe you can try running the [example](https://github.com/maheshmnj/searchfield/tree/master/example) for now, will take a look at it today.

[2022-02-15 16:45] anais6 opened #17 "This widget has been unmounted, so the State no longer has a context (and should be considered defunct)."
Hi.

I have a ListView.builder that i use to build a list of search fields. when i add several  fields, and add information in one of them
and then try to remove one of them from the list i get "This widget has been unmounted, so the State no longer has a context (and should be considered defunct)."

so if i understand correctly, since the exception shows the searchfield component i assume it's re

[2022-02-17 15:04] MuhammadSufyanMalik commented on #8
Hi,
I am facing this issue while assigning InitailValue, can you help me out with this ?
Thanks

════════ Exception caught by scheduler library ═════════════════════════════════
type 'List<String?>' is not a subtype of type 'List<String>?' of 'data'
════════════════════════════════════════════════════════════════════════════════

[2022-02-20 17:28] maheshmnj commented on #8
@nmfisher Update: generic typed value is added in `searchfield 0.6.1`, Heres the sample api usage

[code]

complete example for above snippet can be found here [example/country_search.dart](https://github.com/maheshmnj/searchfield/blob/master/example/lib/country_search.dart)

A complete changelog can be found here https://pub.dev/packages/searchfield/changelog

Thank you so much for your contribut

[2022-02-20 17:28] #8 closed

[2022-02-20 17:29] maheshmnj commented on #8
@MuhammadSufyanMalik Hopefully this Release also fixes your issue, Incase it doesn't feel free to file a new issue with a sample code

[2022-02-21 06:49] MuhammadSufyanMalik commented on #8
Hi,
After updating at 0.6.1, I am getting suggestionStyle error.
: Error: No named parameter with the name 'suggestionStyle'.
lib/…/widgets/searchTextField.dart:60
          suggestionStyle: TextStyle(color: primaryBlue, fontSize: fontSize12),
          ^^^^^^^^^^^^^^^
/[C:/Users/muhammad.sufyan/AppData/Local/Pub/Cache/hosted/pub.dartlang.org/searchfield-0.6.1/lib/src/searchfield.dart:198:3](): Co

[2022-02-21 20:26] Shahmirzali-Huseynov opened #19 "Keyboard isn't closing"
https://user-images.githubusercontent.com/49102327/155022251-9b0356b8-548d-42ce-89c5-5c68fc37e5d5.mov

[2022-02-21 20:30] #19 closed

[2022-02-22 04:24] maheshmnj commented on #19
Hi @Shahmirzali-Huseynov, Thanks for filing the issue, from the video it looks like that issue should be filed in the flutter framework.

[2022-02-22 07:41] Shahmirzali-Huseynov commented on #19
@maheshmnj there is no problem in the flutter framework. I forget to look at it here. But I have a question to you, I don't get what hasOverlay does in package? when I did hasOverlay: true it gives an error. when false there is no problem

[code]

[2022-02-22 08:07] maheshmnj commented on #19
@Shahmirzali-Huseynov  with `hasOverlay: true` the suggestions are shown on top of other widgets (defaults to true) and if false the suggestions are shown immediately below the `SearchField` and you will see other widgets moving.

Can you please share the error that you are seeing ?

[2022-02-22 22:27] Shahmirzali-Huseynov commented on #19
now I don't have an error, I have I will send it. But I have another error ) I opened issue

[2022-02-22 22:30] Shahmirzali-Huseynov opened #20 "onTap error : is not a subtype of type '((SearchFieldListItem<dynamic>) => dynamic)?'"
`type '(SearchFieldListItem<FullNameModel>) => int?' is not a subtype of type '((SearchFieldListItem<dynamic>) => dynamic)?'
`

my id is an integer.

[code]

[2022-02-22 22:56] Shahmirzali-Huseynov commented on #20
I really need this feature. for my id. can you help or fix the issue?  and also you didn't use onTap in your example project.

[2022-02-23 03:56] maheshmnj commented on #20
Hi @Shahmirzali-Huseynov, Thanks for filing the issue.You should pass your `FullNameModel` in `SearchFieldListItem` in order to receive it in onTap

This
[code]
should be

[code]

 Please check this example

https://github.com/maheshmnj/searchfield/blob/df0f565b971e9c1e14783f615034859a57caf1a8/example/lib/country_search.dart#L45-L58

[2022-02-23 03:58] maheshmnj commented on #20
Hi @Shahmirzali-Huseynov, Thanks for filing the issue.You should pass your `FullNameModel` in `SearchFieldListItem` in order to receive it in onTap

This
[code]
should be

[code]

 Please check this example

https://github.com/maheshmnj/searchfield/blob/df0f565b971e9c1e14783f615034859a57caf1a8/example/lib/country_search.dart#L45-L58

[2022-02-23 03:59] maheshmnj commented on #17
Hi @anais6, Thanks for filing the issue. Would it be possible for you to share a minimal reproducible code?

I think you are right, I will need to check it.

[2022-02-23 04:00] maheshmnj commented on #17
Update: There has been a new release two days back `v0.6.1` can you please give it a try and see if that helps fix the issue?

If you still encounter it please share a  [minimal and complete reproducible code](https://stackoverflow.com/help/minimal-reproducible-example) to better address the issue

[2022-02-23 07:00] Shahmirzali-Huseynov commented on #20
Same error :

`type '(SearchFieldListItem<FullNameModel>) => Null' is not a subtype of type '((SearchFieldListItem<dynamic>) => dynamic)?'`

[code]

[2022-02-23 07:09] Shahmirzali-Huseynov commented on #20
the probles is here. - >    `  onTap: (SearchFieldListItem<FullNameModel> value) {`
when I changed `SearchFieldListItem<FullNameModel>` value to `SearchFieldListItem<dynamic> value` it was worked.

why with my model not work?

[code]

[2022-02-23 07:38] Shahmirzali-Huseynov opened #21 "[Feature] Expose EmptyBuilder widget when there are no suggestions to show"
I mean when searching "asagds" in the suggestions will write -> no item found. and this text will be custom.
`noItemFoundText :  ,`

https://user-images.githubusercontent.com/49102327/155277988-41ca9e21-b1b4-4457-b652-aa242c1a027f.mov

[2022-02-23 11:30] maheshmnj commented on #21
Cool, that's a nice feature request.

[2022-02-23 11:35] maheshmnj commented on #21
I  will hopefully get this out by tomorrow.

[2022-02-23 11:36] Shahmirzali-Huseynov commented on #21
Great, Thanks.

[2022-02-23 18:30] Shahmirzali-Huseynov commented on #20
@maheshmnj  can you help with this issue? why is not accepted, my Model?

[2022-02-24 01:48] maheshmnj commented on #20
Hi @Shahmirzali-Huseynov, Can you share your model class? I tried your code sample and it seems to work fine. I tested with this [model class ](https://github.com/maheshmnj/searchfield/blob/master/example/lib/country_model.dart)

<details>
<summary>code sample</summary>

[code]
</details>

[2022-02-24 04:10] maheshmnj commented on #16
This is available in `searchfield: ^0.6.2` https://pub.dev/packages/searchfield/changelog

Closing as fixed.

[2022-02-24 04:10] #16 closed

[2022-02-24 04:11] maheshmnj commented on #21
This is now available in `searchfield: ^0.6.2` https://pub.dev/packages/searchfield/changelog

Closing as fixed.

[2022-02-24 04:11] #21 closed

[2022-02-24 06:15] Shahmirzali-Huseynov commented on #20
my model class :

[code]

[2022-02-24 06:48] maheshmnj commented on #20
A complete example please, The model class looks fine.

[2022-02-24 07:03] Shahmirzali-Huseynov commented on #20
@maheshmnj

[code]

[2022-02-24 07:06] Shahmirzali-Huseynov commented on #20
@maheshmnj

[code]

[2022-02-24 07:07] Shahmirzali-Huseynov commented on #20
same error :
`
type '(SearchFieldListItem<FullNameModel>) => Null' is not a subtype of type '((SearchFieldListItem<dynamic>) => dynamic)?'`

[2022-02-25 08:06] Shahmirzali-Huseynov opened #22 "suggestion textStyle"
can you add custom field ?  - > `suggestionTextStyle : ,`

<img width="296" alt="Screen Shot 2022-02-25 at 11 05 16" src="https://user-images.githubusercontent.com/49102327/155678346-2fba8a67-0eca-4b54-85d8-be19e7557a3a.png">

[2022-02-25 09:08] maheshmnj commented on #22
Hi @Shahmirzali-Huseynov I intentionally removed it since you could define a widget yourself

[code]

[2022-02-25 09:16] #22 closed

[2022-02-26 07:24] maheshmnj commented on #20
Thanks for the info @Shahmirzali-Huseynov, I have found the bug, as a temorary fix. In the `onTap`  don't specify the model (defaults to dynamic)

use like this to prevent the error until this is resolved.

[code]

[2022-02-26 07:47] Shahmirzali-Huseynov commented on #20
I'm using like this already). okay I hope next version it will be fixed, thank you for package and answers

[2022-03-24 10:50] Greshanw opened #23 "[Proposal]Support inputFormatters for the SearchField"
It's better to add the "inputFormatters" as normal TextFormField. By that users developers easily add validations to searchfield.

[2022-03-24 12:08] maheshmnj commented on #23
Hi @Greshanw, Thanks for filing the issue. I am quite not sure I understood the issue, Do you mean to support inputFormatters?

[2022-03-24 12:09] maheshmnj commented on #23
Hi @Greshanw, Thanks for filing the issue. I am quite not sure I understood the issue, Do you mean to support inputFormatters?

[2022-03-24 12:12] Greshanw commented on #23
Yeah thats what I meant.

[2022-04-16 13:34] #20 closed

[2022-04-16 13:34] maheshmnj commented on #20
@Shahmirzali-Huseynov  this has been fixed in the above linked PR.

[2022-04-18 07:32] Timbwa opened #25 "Can't define custom suggestionItemDecoration"
**Describe the bug**
I get this exception when setting the suggestionItemDecoration:
[code]
Looking At the source code in [suggestionIemDecoration](https://github.com/maheshmnj/searchfield/blob/d990289b304aaa9369ae1853d87f1a2d9adaee49/lib/src/searchfield.dart#L423)
I see that bottom border is always set even when I define my own decoration since you are using the copyWith function.

**To Reproduce

[2022-04-19 14:32] bartukaan opened #26 "How to add custom sort logic for already filtered data?"
filteredList.sort((a, b) =>
              a.toLowerCase()
                .indexOf(filter)
                .compareTo(b.toLowerCase().indexOf(filter)

Can I add this kind of logic?

for example:
var streets = ["testabc","abc"];

when i will input search value "abc",
output suggestions will be : 1."testabc" 2."abc"
expected suggestions : 1."abc" 2."testabc"

so i want to output suggestions with mor

[2022-04-21 01:52] maheshmnj commented on #26
Hi @bartukaan, Thanks for filing the issue. Yes ofcourse you can add any kind of sort logic, That shouldn't be a problem, SearchField just requires you to return a List\<T>.

[2022-04-21 02:24] maheshmnj commented on #25
Hi @Timbwa Thanks for reporting, This is fixed now in `searchfield: 0.6.4`

[2022-04-21 02:24] #25 closed

[2022-04-21 11:09] bartukaan commented on #26
Hi @maheshmnj , thanks for reply.
I handled it thanks.

[2022-04-21 11:09] #26 closed

[2022-04-21 11:37] maheshmnj commented on #13
Closing as the master channel now contains the sufficient tests https://github.com/maheshmnj/searchfield/blob/master/test/searchfield_test.dart

[2022-04-21 11:37] #13 closed

[2022-05-16 22:49] jakegraves-figure opened #28 "Surface out TextFormField properties"
I love your library, but I'm frustrated that I can't access the `autocorrect` property of the TextFormField inside the SearchField.

Please surface out this property so I can turn off the suggestive text. You might consider also including `enableSuggestions` of the TextFormField as well.

Thank you!

[2022-05-17 10:37] vaisakhferoke opened #29 "flutter 3.0.0 update issue"
/C:/flutter/.pub-cache/hosted/pub.dartlang.org/searchfield-0.6.4/lib/src/searchfield.dart:314:20: Warning: Operand of null-aware operation '!' has type 'WidgetsBinding' which excludes null.
- 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('/C:/flutter/packages/flutter/lib/src/widgets/binding.dart').
package:flutter/…/widgets/binding.dart:1
    WidgetsBinding.instance!.addPost

[2022-05-18 17:24] maheshmnj commented on #28
HI @jakegraves-figure, Thanks for filing the issue. That's a fair ask.

[2022-05-19 06:37] maheshmnj commented on #29
Closing as fixed in 0.6.5 https://github.com/maheshmnj/searchfield/commit/ab2461771fd8393c31656a8971cd26534f8ba960

[2022-05-19 06:37] #29 closed

[2022-05-20 15:15] lilvinco opened #31 "Height property for search field"
Hi there,

Great package, a great time saver.

It's quite frustrating though that the search field's height can not be customised. Would be nice to be able to constrain the height of the textfield at will, a possible way to go about it is wrapping the textfield with a SizeBox and exposing the height property.

[2022-05-23 06:58] maheshmnj commented on #31
Hi @lilvinco, Thanks for filing the issue. That sounds like a nice feature request. Also, I see you submitted a PR that seems to be closed. In case you want to contribute feel free to, I would love to review if not I can definitely get that landed in a week.

[2022-05-24 09:52] dkdanish98 opened #32 "Loading Spinner"
The problem that i was facing for my project that there was no loading spinner in it. Kindly add a loading spinner in your package.

Thanks in advance

[2022-05-26 10:32] amirthapa commented on #17
In My case ### **hasOverlay = false**  solved the issue.

[2022-05-29 23:08] msampathkumara opened #33 "[proposal] Ability to configure scrollbar visibility"
is there any way to make suggestion list scrollbar always visible ?

[2022-05-30 19:13] lilvinco commented on #31
Thanks for the feedback, I will now create a new PR

[2022-06-01 16:37] maheshmnj commented on #31
Hi @lilvinco, Thanks for the PR. I was wondering of the usecase, where would we need to customize the height of the SearchField? since SearchField is always a singleliner. Even if you need this feature why not just wrap SearchField in SizedBox directly, wouldn't that work?

[code]

[2022-06-01 23:29] lilvinco commented on #31
<img width="302" alt="Screenshot 2022-06-02 at 00 27 22" src="https://user-images.githubusercontent.com/15001773/171517964-cd8a9bd6-078c-4e92-b2a2-467fb63dc38e.png">
<img width="297" alt="Screenshot 2022-06-02 at 00 27 59" src="https://user-images.githubusercontent.com/15001773/171517974-a61d7f71-066b-43c3-980a-26258eb2b80a.png">
<img width="297" alt="Screenshot 2022-06-02 at 00 28 21" src="https:

[2022-06-01 23:31] lilvinco commented on #31
1: searchableHeight : 50 is set
2. No height
3. Wrapped with SizedBox and set height property of 50

[2022-06-03 10:25] AlvaroG2 commented on #17
Thanks <3

[2022-06-04 07:56] maheshmnj commented on #17
@AlvaroG2 Is this issue reproducible with latest version of the package? if so can you please share a minimal code sample so that I can fix it?

[2022-06-06 19:54] Shahmirzali-Huseynov opened #36 "validation for Class model"
How can I validate this? also can you add validation to your example county_search.dart sample.

[code]

[2022-06-09 04:17] maheshmnj commented on #36
Hi @Shahmirzali-Huseynov, Thanks for filing the issue. Please see this example

which wraps SearchField in Form and assigns a key

https://github.com/maheshmnj/searchfield/blob/ed28e24360717c207168f854ddd6e2827323086c/example/lib/example1.dart#L84-L87

And then implement the validator function

https://github.com/maheshmnj/searchfield/blob/ed28e24360717c207168f854ddd6e2827323086c/example/lib/examp

[2022-06-09 04:17] #36 closed

[2022-06-11 16:50] maheshmnj commented on #32
@dkdanish98 Can you please clarify when the loading spinner should be shown?

[2022-06-12 07:22] maheshmnj commented on #23
Fixed in [v0.6.6](https://pub.dev/packages/searchfield/changelog)

Thanks for the feature request.

[2022-06-12 07:22] #23 closed

[2022-06-12 07:23] maheshmnj commented on #33
Hi @msampathkumara, Thanks for filing the issue. Yes that should be possible.

[2022-06-12 07:23] maheshmnj commented on #28
Fixed in [v0.6.6](https://pub.dev/packages/searchfield/changelog)

Thanks for the feature request.

[2022-06-12 07:23] #28 closed

[2022-06-13 15:02] Shahmirzali-Huseynov commented on #33
@maheshmnj  yes, in the mobile will be good I think. thanks for your effort.

[2022-06-14 06:05] maheshmnj commented on #33
@Shahmirzali-Huseynov this should be a simple fix if anyone of you would like to contribute feel free too, However, It will take me a wee, Probably to come back to this.

[2022-06-15 13:32] msampathkumara commented on #33
Hi @maheshmnj ,
I want this on web.
now scrollbar is visible only when suggestion list is focused. I want it  visible when ever  suggestion list is visible..

[2022-06-17 03:56] xxJeevesxx opened #37 "inputFormatter typo in the documentation"
**Describe the bug**
In the documentation on properties, the inputFormatter is listed, however when trying to add the inputFormatter as a property it errors as it doesn't exist. Also I can't find it in the code behind the SearchField widget.

**To Reproduce**
Steps to reproduce the behavior:
1. Create search field widget in ui
2. Try to add inputFormatters as property

**Expected behavior**
inputF

[2022-06-17 05:38] maheshmnj commented on #37
Hi @xxJeevesxx, Thanks for filing the issue. Please ensure you are using the latest version `searchfield: ^0.6.6`.

I just verified it seems to work
<img width="344" alt="image" src="https://user-images.githubusercontent.com/31410839/174232016-9f284953-248d-49e3-a8b6-ef1afa87ecb7.png">

And it is "inputFormatters" (s) is missing, Looks like this is a bug in the documentation

<img width="510" alt=

[2022-06-17 06:32] xxJeevesxx commented on #37
Wow, I'm really sorry for the trouble. Looks like I had v0.6.5 which is why it didn't show up. I'm not sure how to do the whole PR thing otherwise I would try to help however I can. Again, sorry for the whole waste of time.

[2022-06-17 06:46] maheshmnj commented on #37
Hey not really, This helped me figure out the typo.
Thanks for your report, In case you find any bugs or have a feature request I would encourage filing an issue and I would love to have a discussion about it.

Thanks

[2022-06-17 07:08] xxJeevesxx commented on #37
Sounds good. Thanks again for the quick reply!

[2022-06-20 15:29] maheshmnj commented on #37
fixed in https://github.com/maheshmnj/searchfield/commit/c99c2b5da1c5d65965d5422cd62e37668fae105e, This will be available on pub in upcoming release

[2022-06-20 15:30] #37 closed

[2022-06-21 06:29] maheshmnj commented on #33
Update: there's a little issue with Scrollbar which I think is a bug in flutter I have filed that issue here  https://github.com/flutter/flutter/issues/106326

[2022-06-24 15:56] eponcehenriquez commented on #17
Just to help the community, I use the following version and it throws the same error:

searchfield:
     dependency: "direct main"
     description:
       name: searchfield
       url: "https://pub.dartlang.org"
     source: hosted
     version: "0.6.5"

The solution was to add hasOverlay: false and it was fixed.
Below I attach my code where I use.

`Container(
                        padding: Ed

[2022-06-24 16:05] eponcehenriquez commented on #17
Just to help the community, I use the following version and it throws the same error:

searchfield:
dependency: "direct main"
description:
name: searchfield
url: "https://pub.dartlang.org/"
source: hosted
version: "0.6.5"

The solution was to add hasOverlay: false and it was fixed.
Below I attach my code where I use.
![carbon](https://user-images.githubusercontent.com/3433466/175574150-e3917830-67

[2022-06-28 02:56] franciscogonzalez08 opened #38 "Suggestions not displaying on release apk but on debug mode"
**Describe the bug**
The bug is suggestions are not displaying on release mode but on debug mode they do.

**To Reproduce**
1. Build apk with "flutter build apk"
2. Install "app-release.apk" on phone and open it. You will see that searchField called "Tipo de cirugía" won't open suggestions.
**Expected behavior**
I expect that when clicking the searchField, siggestions are displayed.

**Actual beha

[2022-06-29 06:33] maheshmnj commented on #38
Hi @franciscogonzalez08m, Thanks for filing the issue. Could you please share what version of the plugin are you using?

[2022-06-29 06:48] maheshmnj commented on #38
I just found that this is a bug in a flutter, I will report it there soon. As a temporary fix please add `hasOverlay: false` in your existing code until this is resolved.

[2022-06-29 15:08] maheshmnj commented on #38
I have filed the issue here https://github.com/flutter/flutter/issues/106797

[2022-06-29 15:38] franciscogonzalez08 commented on #38
Thank you so much man!

[2022-07-11 05:20] agakshay304 commented on #38
@franciscogonzalez08 Have you found the solution for the above error?

[2022-07-11 06:28] maheshmnj commented on #38
@agakshay304 https://github.com/maheshmnj/searchfield/issues/38#issuecomment-1169598774

[2022-07-11 06:33] agakshay304 commented on #38
Its not solving the issue. Actually my code is working fine in ios simulator but it keeps on refreshing in android emulator without showing any error.

[2022-07-11 08:59] maheshmnj commented on #38
@agakshay304 Can you please file a separate issue with more details and the code sample?

[2022-07-19 13:45] exilonX opened #39 "Suggestions list not updating with state"
**Describe the bug**
I create a SearchField like below:

[code]
The suggestions are passed from the parent widget, down to the widget that contains the SearchField.
The suggestions are initally an empty list [] and get updated once you enter something in the textFormField.
The parent widget is a ReduxConsumer.
Let's assume that when you enter more than 3 letters a network request is triggered whic

[2022-07-19 19:32] panshulgarg opened #40 "Adding Text Alignment and Text style in the suggestion list that is generated."
**Is your feature request related to a problem? Please describe.**
I want to add consistency to the text styles, in the suggestion box. Currently, it looks like it is fixed.

**Describe the solution you'd like**
The search field would accept params for the formatting details for the text shown in the suggestion list.

[2022-07-21 11:39] maheshmnj commented on #39
Hi @exilonX, Thanks for filing the issue. This has been on my list for a while. We can use this issue for tracking.

[2022-07-21 12:12] exilonX commented on #39
Please tell me if you have a suggestion on how to implement this... I could give it a try :D

[2022-07-21 15:10] maheshmnj commented on #39
@exilonX , The suggesttions right now are shown in two ways either below the searchfield as a list or in a overlay.
My guess is this issue is for the second case when `hasOverlay:true`, if that is the case, We need to look for how we can update the overlay state while it is still visible. I don't have an exact idea right now I will have to investigate too.
But Once I have any update or start a wor

[2022-07-24 16:23] #39 closed

[2022-07-24 16:28] maheshmnj commented on #39
@exilonX fixed in v0.6.7,
Thanks for your contribution. If you see any issue again Please consider filing a new issue, It helps improve the package.

[2022-07-25 14:12] exilonX commented on #39
Thank you so much @maheshmnj. It works great now!

Unrelated to this issue, I only have one suggestion: if I choose to use an `emptyWidget` after selecting an item from the dropdown, the empty widget shows immediately after.
Please give it a try, maybe it's something on my end :D

[2022-07-25 14:55] maheshmnj commented on #39
Thanks for the feedback @exilonX, Glad it works. Regarding your other feedback could you please file a separate issue? I am guessing it is somewhat related to https://github.com/maheshmnj/searchfield/issues/32 (This is pending to be fixed, Because I don't have clarity on what the expected behaviour is)

[2022-07-29 12:05] fruitbite commented on #17
if I disable hasOverlay then it overflows bottom insets and is not usable for me atleast

[2022-07-29 12:54] maheshmnj commented on #17
Can you please share a code sample in the form of text so that I can take a look?

[2022-07-29 13:14] fruitbite commented on #17
[code]

this is what I did:

I had a simple SearchField with just 2 or 3 properties, they were working fine if you didn't touch the controller (initialize it). Once I initialized the controller (even with blank text) then try to hot reload or change the page (not push, pushReplacement) then I'd get this error that it's not mouted or something and the context can't be used.

Here's the STACK TRACE:

[2022-07-30 07:23] maheshmnj commented on #17
Thanks for the code sample @fruitbite, As per my understanding when the widget is removed or added to widget tree this issue is reproduced. Can anyone who is facing this issue please test using this branch `fix-17`  by adding to `pubspec.yaml`

[code]
and see if the issue is fixed?

[2022-08-04 10:41] spadesM opened #42 "Cleaning input"
Hi

It is awesome. Is there any way to clean input after suggestion tap?

[2022-08-07 21:31] shahmirzali49 opened #43 "'package:flutter/src/widgets/overlay.dart': Failed assertion: line 207 pos 12: '_overlay != null': is not true."
**Describe the bug**
A clear and concise description of what the bug is.

Unhandled Exception: Bad state: Cannot add new events after calling close

When I used second-time SearchField, I didn't know why it gave me this error.

sorry I don't have wide info about error.

edited:
Issue reproduces with latest v0.9.9
<details>
<summary>minimal code sample</summary>

[code]
</details>

<details>
<summa

[2022-08-07 21:32] Shahmirzali-Huseynov commented on #43
when I click the error line in debug console.

<img width="1046" alt="Screen Shot 2022-08-08 at 01 32 06" src="https://user-images.githubusercontent.com/49102327/183311707-f32893dd-620e-4a0a-89c6-5c541165b119.png">

[2022-08-07 21:45] Shahmirzali-Huseynov commented on #43
my code

[code]

[2022-08-08 03:14] maheshmnj commented on #43
HI @Shahmirzali-Huseynov, Thanks for filing the issue. Can you please try using fix-17 branch as mentioned here https://github.com/maheshmnj/searchfield/issues/17#issuecomment-1200108227 , I believe that issue is fixed.

[2022-08-08 03:21] maheshmnj commented on #42
Hi @spadesM, Glad you asked,

SearchField provides you with a `onSuggestionTap` callback which you can use to clear the textinput

[code]

Closing as this is neither a bug nor a feature request.

[2022-08-08 03:21] #42 closed

[2022-08-08 05:30] maheshmnj commented on #17
Update a new release is available  `searchfield: ^0.6.8` Can someone please confirm if this issue is fixed.

[2022-08-08 05:30] maheshmnj commented on #43
Also see https://github.com/maheshmnj/searchfield/issues/17#issuecomment-1207684032

[2022-08-08 06:35] Shahmirzali-Huseynov commented on #43
@maheshmnj  thanks for replying, but I used 0.6.8 version of the package, but isn't fixed. the same error.

[2022-08-08 06:40] Shahmirzali-Huseynov commented on #43
@maheshmnj Actually I noticed this error happen when I use GlobalKey for changing bottom nav.

`bottomNavKey?.onTap!(1);`

[2022-08-09 05:07] maheshmnj commented on #40
Hi @panshulgarg, Thanks for filing the issue. You can do that as of today by specifying the child Property to `SearchFieldListItem`

Heres a sample code and the output

[code]

<img width="341" alt="image" src="https://user-images.githubusercontent.com/31410839/183568683-4a0acbf2-9e9e-48c2-bf51-6ad32e81fe5d.png">

[2022-08-09 05:16] maheshmnj commented on #43
Thanks for the update @Shahmirzali-Huseynov, Can you please share a minimal and complete sample code? which I can directly run with minimal or no code changes. You may use the [example app](https://github.com/maheshmnj/searchfield/blob/master/example/lib/example1.dart) to share the reproducible code

[2022-08-09 09:15] Shahmirzali-Huseynov commented on #43
I will, but unfortunately, I don't have time now, but I will try this week, and also I don't understand how the error is gone. but whatever I will do the minimal and complete sample code.

[2022-08-09 12:13] maheshmnj commented on #43
sure no worries take your time. And thank you so much for helping out to improve this package.

[2022-08-09 13:22] romain-pattyn opened #44 "Remove unnecessary box underneath the suggestion box."
Currently the SearchField widget enables us to modify the suggestion box decoration through the suggestionsDecoration parameter. However, when adding rounded corners to that box, there is still a white box underneath that makes the look really awkward. It can be seen in the next picture, the black lines at the bottom of the suggestion box (which is the black box) shouldn't stop before the black bo

[2022-08-09 13:46] romain-pattyn commented on #44
Actually removing that box doesn't fix the issue because of other artifact present in those unwanted areas. Such as the item separators (See image) or the scrollbar.

<img width="416" alt="Capture d’écran 2022-08-09 à 15 41 25" src="https://user-images.githubusercontent.com/73311663/183664614-21579162-60b4-41ff-a256-e1ddb7e0079d.png">

The way to go I think would be to add a ClipRRect widget in

[2022-08-10 00:07] maheshmnj commented on #44
Hi @romain-pattyn, Thanks for filing the issue. Can you please drop a small piece of a code sample that demonstrates the above output?

[2022-08-10 09:51] romain-pattyn commented on #44
The following code will replicate the issue.

[code]

To fix the issue we simply need to wrap the AnimatedContainer in a ClipRRect inside _suggestionsBuilder.

There are another few improvements that could be made like being able to change the suggestionStyle. I would like to contribute to this package. Do I need to open a different feature request issue for each improvement I want to make?

[2022-08-10 10:14] romain-pattyn commented on #44
I've fixed the issue, can I create a pull request?
That's with the new version :

<img width="491" alt="Capture d’écran 2022-08-10 à 12 13 09" src="https://user-images.githubusercontent.com/73311663/183876857-ec65fd8c-8db0-4a3e-adb2-32e8ff590e95.png">

Quick question : Why do we need to create a new branch when forking the repo to make a contribution?

[2022-08-10 10:45] romain-pattyn commented on #44
The ClipRRect must actually be placed above the _suggestionBuilder() like so 👍
[code]

Doing so will also cut the InkWell color change.

[2022-08-10 16:32] maheshmnj commented on #44
Thanks for the code sample I will surely take a look.

Thank you so much, PR's are welcome, I would love to help you with the reviews. Before you begin please take a look at this contributing guide https://github.com/maheshmnj/searchfield/blob/master/CONTRIBUTING.md, Let me know if you have any questions.

Yes please filing issues separately per feature request/bug would help us track it separatel

[2022-08-12 09:11] romain-pattyn opened #45 "Adding a text style to the default suggestions"
When no child is given to the SearchFieldListItem objects, it uses the search key as text for the suggestion.

I would simply like to add the possibility to modify the textStyle of that text.

[2022-08-12 10:16] maheshmnj commented on #45
Thanks for filling the issue and the PR, Thats a fair ask.

[2022-08-12 10:16] maheshmnj commented on #45
Will review the PRs tonight, I really appreciate you taking the time.

[2022-08-12 14:32] maheshmnj commented on #45
published [searchfield: ^0.6.9](https://pub.dev/packages/searchfield)

[2022-08-12 14:32] #45 closed

[2022-08-16 09:59] thegioiso opened #50 "custom Y axis between search box and item box, current default is due to itemHeight"
I created a search widget like below with overlay enabled:
![image](https://user-images.githubusercontent.com/106056252/184851443-c58b1cef-3a17-4321-bf21-858e223e381a.png)

I changed itemHeight to 60 and a "transparent box" exist between my search box and item lists below.
![image](https://user-images.githubusercontent.com/106056252/184851731-dd2f1394-3c84-4508-a871-94cbc6b60f3c.png)

And when i c

[2022-08-18 13:20] maheshmnj commented on #50
Hi @thegioiso, Thanks for filing the issue. Can you please share a minimal and complete code sample that shows the issue?

[2022-08-19 02:32] thegioiso commented on #50
Dear @maheshmnj, i create a sample code for this issue and i found out something:
[code]
with `itemHeight = 50.0`, if item box overlay show at top position, every thing work fine:
![image](https://user-images.githubusercontent.com/106056252/185530041-12f8e128-04eb-4570-b929-bbcfecb0f4a0.png)

BUT, if overlay show at bottom position, it will create a "transparent space" between two:
![image](https:

[2022-08-20 05:41] thegioiso commented on #50
@maheshmnj and i found out the overlay always show on top position on Android, if the space is not enough will cause unmounted error. I hope we can custom overlay position to bottom or top. Thank you so much.

[2022-08-21 00:40] maheshmnj commented on #50
Thanks for the info @thegioiso, I can reproduce the issue. Perhaps we can make it configurable.

<img width="545" alt="Screenshot 2022-08-21 at 6 06 07 AM" src="https://user-images.githubusercontent.com/31410839/185770667-fe563782-70e6-4051-b83a-bfe39968f341.png">

[2022-08-21 00:50] maheshmnj commented on #50
You may use temporary workAround `hasOverlay:false`

[2022-08-22 08:46] thegioiso commented on #50
Dear @maheshmnj , use `hasOverlay: false` is a temporary solution and it will cause overflow problem seriously for my layout. But thank for your advice, i will try with Stack widget for some case needed.

And one more thing, if this issue is fixed, can you provide a parameter for set fixed position of overlay. Example:
- when set `overlayPosition: PreferredPosition.top`, suggest box will fixed at

[2022-08-22 09:19] maheshmnj commented on #50
Yes @thegioiso, I have planned to provide with an offset parameter that you can use to manually set the position of the Suggestions Overlay, I agree that the temporary workaround is not the right solution, it was just to unblock you immediately, However I have a fix in pipeline I intend to publish that this weekend, I really wish I could publish it tonight, But unfortunately I  am occupied with ot

[2022-08-29 13:07] Shahmirzali-Huseynov commented on #43
@maheshmnj  sorry for the delay. this is the minimal and complete sample code.

[flutter_searchfield_issue.zip](https://github.com/maheshmnj/searchfield/files/9444745/flutter_searchfield_issue.zip)

[2022-08-29 15:02] maheshmnj commented on #43
Thanks will take a look at it

[2022-08-30 02:44] maheshmnj commented on #43
@Shahmirzali-Huseynov Can you please explain what are the steps to reproduce the issue? I am unable to reproduce the error with your code sample. (I verified on macOS desktop app)

[2022-08-30 12:13] #50 closed

[2022-08-30 12:18] maheshmnj commented on #50
[v0.7.0](https://pub.dev/packages/searchfield/changelog) has been published.

[2022-08-30 12:25] maheshmnj commented on #43
Can you also test with new release v0.7.0?

[2022-08-30 13:04] Shahmirzali-Huseynov commented on #43
I tested but the problem is continuing. I share with you the screen record.
[Screen Recording 2022-08-30 at 17.02.36.zip](https://github.com/maheshmnj/searchfield/files/9453018/Screen.Recording.2022-08-30.at.17.02.36.zip)

[2022-08-31 02:57] thegioiso commented on #50
@maheshmnj thank you so much, the new update worked perfectly.

[2022-09-21 12:34] danishkhawaja98 commented on #50
@maheshmnj can you share an example on how to fix the suggestion to the top?

[2022-10-07 04:37] maheshmnj commented on #43
@Shahmirzali-Huseynov  sorry for the delay please try version 0.7.1.

[2022-10-07 12:43] Nandhinidevi123 opened #53 "Suggestion Box not closed after select the options"
![Screenshot from 2022-10-07 18-12-27](https://user-images.githubusercontent.com/95607404/194556367-d9fab662-fd59-4390-99e7-33e6e2c6289d.png)

Suggestion Box not closed after select the options

[2022-10-09 16:18] Shahmirzali-Huseynov commented on #43
I tried but was not solved, again ->
<img width="990" alt="Screen Shot 2022-10-09 at 19 17 49" src="https://user-images.githubusercontent.com/49102327/194767813-6896c9ad-dd94-4c8d-941a-4e9d6991f735.png">

[2022-10-10 05:06] maheshmnj commented on #43
Thanks for the update @Shahmirzali-Huseynov Looks like the widget is getting disposed of because of the Global key, removing the code in `didChangeDependencies` doesn't reproduce the issue, Theres definetly something wrong, I 'll need to figure that out.

[code]

<details>
<summary>code sample</summary>

[code]
</details>

[2022-10-10 07:26] Shahmirzali-Huseynov commented on #43
maybe the problem is in the function that runs or responds after the widget dispose.

[2022-10-10 16:35] maheshmnj commented on #53
Hi @Nandhinidevi123, Thanks for filing the issue. Can you please share a minimal and complete code sample? Also do you see any error logs in the console?

[2022-10-21 07:59] karacaemre commented on #6
I'm still having this problem, even if I set `maxSuggestionsInViewPort` as 1, and `itemHeight` as 10. Any solutions?

![searchfieldbug](https://user-images.githubusercontent.com/59104216/197143841-7ca7daf0-1e3d-4dc7-8819-8703e3765118.png)

[2022-10-25 01:25] maheshmnj commented on #6
@karacaemre as a temporary workaround, you can specify your custom offset, this way the overlay is always shown at a fix position and is not dynamically positioned

[code]

[2022-10-25 03:53] #6 closed

[2022-10-25 04:16] maheshmnj opened #56 "Support dynamic positioning of suggestions"
Searchfield suggestions should be placed dynamically below or above the SearchInput based on the available space.

**Describe the solution you'd like**
Add a new enum `SuggestionDirection.flex`(default)

[2022-10-25 04:30] maheshmnj commented on #6
[Released `v0.7.2`](https://pub.dev/packages/searchfield/changelog) which adds a new property `suggestionDirection` which should give you more flexibility to position the suggestions.

However, searchfield should support the dynamic positioning of suggestions based on the available space, this is being tracked here https://github.com/maheshmnj/searchfield/issues/56

[2022-10-26 20:46] frodrigueztorres commented on #53
Hi, can confirm. It happens to me when i update to the last version (in 0.6.6 didn't happen), and there is no errors in the log. There is the code i use for the input

[code]

[2022-10-26 23:59] maheshmnj commented on #53
@frodrigueztorres thanks for confirming, Can you please check if it occurs with latest v0.7.2? There have been bunch of fixes  since v0.6.6

[2022-10-27 14:43] frodrigueztorres commented on #53
@maheshmnj It occurs with the latest versión. I tested with the `0.6.6`, `0.7.0` and `0.7.2` and only in `0.6.6` it worked correctly

[2022-10-27 21:43] maheshmnj opened #57 "Searchfield cannot be shown in center of screen"
**Describe the bug**
When Searchfield is placed in a Center widget it is still shown on top of the screen.
[code]

[2022-10-27 21:56] maheshmnj opened #58 "Remove hasOverlay property"
**Describe the bug**
Now that Searchfield supports positioning the suggestions with an offset and the `suggestionDirection`, the `hasOverlay` property is no longer required, This issue tracks a request to remove the overlay property.

[2022-10-27 22:35] maheshmnj commented on #58
This should also fix https://github.com/maheshmnj/searchfield/issues/57

[2022-10-27 23:03] maheshmnj commented on #53
Thanks for checking @frodrigueztorres, I tried the below code sample and it seems to work fine.

<details>
<summary>code sample</summary>

[code]
</details>

Can you please use this code sample and share a reproducible example?

[2022-10-28 00:24] ryanidk opened #59 "Ignore special characters (/*$-)"
Say I have suggestions "1 / 2" and "3 / 4 - 5", regardless if user types "1 2" or "1 / 2", I would like the result to show up. How do I do this?

[2022-10-30 22:36] maheshmnj commented on #40
Closing as this can be achieved as of today as per above https://github.com/maheshmnj/searchfield/issues/40#issuecomment-1208920478

[2022-10-30 22:36] #40 closed

[2022-10-31 00:18] maheshmnj commented on #33
Update: the flutter issue has been fixed in the flutter repo, The RawScrollbar has a property `padding` available on master but not on stable so this PR https://github.com/maheshmnj/searchfield/pull/60 (Which will close this issue) is waiting for the fix to land on the stable channel. Once it does this issue will be resolved.

[2022-11-01 15:20] faithyoussef opened #61 "Navigator operation requested with a context that does not include a Navigator"
**Describe the bug**
navigator button isnot being with/ through a navigator.
**To Reproduce**

Steps to reproduce the behavior:
1. run the app. Go to 'the search icon , top bar.'
2. Go to 'the search icon, beside message icon , top bar.'Click on 'it'
3. Scroll down through 'run operations'
4. See error

**Expected behavior**
to search with and through the list for a result , "country list"
**Actua

[2022-11-02 00:59] #59 closed

[2022-11-02 03:53] maheshmnj commented on #61
Hi @faithyoussef, Thanks for filing the issue, I don't see think this is an issue with this package. From the error logs, I see that this seems to be an issue with how you are using Navigator to navigate the page. Probably an issue with incorrect context being passed to Navigator.

see similar issue: https://stackoverflow.com/questions/44004451/navigator-operation-requested-with-a-context-that-doe

[2022-11-03 01:07] ryanidk opened #62 "Randomly stops working when reopening the app"
**Describe the bug**
When I close the app thru the app switcher in release mode and reopen it from the home screen, the search field stops working. When I click it and type something (e.g. "Mexico") nothing shows up.

**To Reproduce**
Steps to reproduce the behavior:
1. Force close app thru app switcher
2. Reopen app
3. Click on search bar

**Expected behavior**
I should be able to search after fo

[2022-11-09 18:07] mwenechac commented on #53
@Nandhinidevi123, you may want to add focus nodes to your fields. See here: https://github.com/maheshmnj/searchfield/blob/master/example/lib/country_search.dart